name: 05-1 - Event Filters - Activity Types

on:
  pull_request:
    types:
      - closed
    branches:
      - main
  
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running whenever a PR is closed against main branch"