name: 08- Using Variables

on:
    push:
    workflow_dispatch:

env:
    WORKFLOW_VAR: 'I am a workflow variable'
    OVERWRITTEN_VAR: 'I am a workflow overwritten variable'
    UNDEFINED_VAR_WITH_DEFAULT: ${{ vars.UNDEFINED_VAR || 'default variable' }}

jobs:
    echo:
        runs-on: ubuntu-latest
        env:
            JOB_VAR: 'I am a job variable'
            OVERWRITTEN_VAR: 'I am a job overwritten variable'
        steps:
            - name: Print Env Variable
              env:
                STEP_VAR: 'I am a step variable'
                step-var2: 'I am another step variable'
              run: |
                  echo "Step env value: ${{ env.STEP_VAR }}"
                  echo "Step env value 2: $step-var2"
                  echo "Job env value:  ${{ env.JOB_VAR}}"
                  echo "Workflow env value:  ${{ env.WORKFLOW_VAR}}"
                  echo "Overwritten env value:  ${{ env.OVERWRITTEN_VAR}}"
            - name: Overwrite job variable
              env:
                OVERWRITTEN_VAR: 'I am a step overwritten variable'
              run: |
                  echo "Step overwritten env value:  ${{ env.OVERWRITTEN_VAR}}"
    echo2:
        runs-on: ubuntu-latest
        steps:
            - name: Print Env Variables
              run: |
                  echo "Org env var:  $ {{ vars.ORG_VAR}}"
                  echo "Org overwritten env var:  $ {{ vars.OVERWRITTEN_VAR}}"
                  echo "Repo var:  $ {{ vars.REPO_VAR}}"
    echo-prod:
        runs-on: ubuntu-latest
        environment: prod
        steps:
            - name: Print Prod Env Variables
              run: |
                  echo "Org env var:  $ {{ vars.ORG_VAR}}"
                  echo "Org overwritten env var:  $ {{ vars.OVERWRITTEN_VAR}}"
                  echo "Repo var:  $ {{ vars.REPO_VAR}}"
                  echo "Environment var:  $ {{ vars.TARGET_VAR}}"
    echo-undefined:
        runs-on: ubuntu-latest
        steps:
            - name: Print Undefined Variables
              run: |
                  echo "Org env var:  $ {{ vars.UNDEFINED_VAR_WITH_DEFAULT }}"